/*
Theme Name: ets
*/
/******************************
            =STYLE INDEX
*******************************
=VARIABLES
=BASE
=BUTTONS
=ICONS
=HEADER
=CONTENT
=FOOTER
=CONTACT FORM
=WOOCOMMERCE
=UTILITY (Overwrites)
=ANIMATIONS
******************************/

/** =VARIABLES */
$blue: #3480BB;
$blue-rgb: rgb(52, 128, 187);
$yellow: #FBC16E;
$yellow-rgb: rgb(251,193,110);
$black: #464646;
$white: #ffffff;
$lightgrey: #EEEBEB;
$midgrey: hsl(0, 0%, 75%);
$darkgrey: hsl(0, 0%, 65%);

$tran-default: all 0.15s ease-in-out;
$text-shadow-default: 1px 3px 3px rgba(0,0,0,0.25);
$text-shadow-second: 1px 1px 1px rgba(0,0,0,0.25);
$box-shadow-default: 0 4px 6px 0 rgba(0,0,0,0.12),
				 0 2px 4px 0 rgba(0,0,0,0.08);
$box-shadow-second: 0 4px 6px 0 rgba(0,0,0,0.12),
				 0 0px 4px 0 rgba(0,0,0,0.08);
$bold: 600;
$semibold: 500;
$normal: 400;

/** =BASE */

.primary a:hover {
	color: $blue;
	text-decoration: underline;
}

strong > a,
a > strong,
strong {
	font-weight: 600;
}

.content-space--top {
	margin-top: 50px;
}

.content-space--top-small {
	margin-top: 25px;
}

.content-space--bottom {
	margin-bottom: 75px;
}

.sep {
	padding: 0 10px;
}

a {
	color: $blue;
}

a:hover {
	color: $black;
}

.vl {
	border-left: 2px solid $black;
	height: 100%;
	position: absolute;
	left: 50%;
	margin-left: -1px;
}

p.image {
	margin:0;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: $blue;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 100;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
	width: 280px;
  top: -5px;
  right: 110%; 
}

.tooltip .tooltiptext::after {
	content: " ";
	position: absolute;
	top: 50%;  /* At the top of the tooltip */
	left: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent $blue;
  }

/** =BUTTONS */
input[type="submit"].btn,
.btn,
.woocommerce-notices-wrapper .button {
	padding: 5px 10px;
	font-weight: $semibold;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	transition: $tran-default;
	border-width: 2px;
	border-style: solid;
	border-radius: 3px;
	font-size: 0.75rem;
	line-height: 16px;
	cursor: pointer;
}

a.btn {
	// display: table;
	cursor: pointer;
}

.btn:disabled {
	background-color: $midgrey;
	border-color: $midgrey;
	color: $darkgrey;
	pointer-events: none;
}

.btn--block {
	display: inline-block;
}

.btn--large,
input[type="submit"].btn--large {
	padding: 10px 15px;
}

.btn--small,
input[type="submit"].btn--small {
	padding: 5px;
	font-size: 0.75rem;
}

.btn--white,
.woocommerce-notices-wrapper .button {
	background-color: $white;
	border-color: $white;
	color: $blue;
}
.btn--yellow {
	background-color: $yellow;
	border-color: $yellow;
	color: $black;
}

.btn--blue,
input[type="submit"].btn--blue {
	background-color: $blue;
	border-color: $blue;
	color: $white;
}

.btn--hover-yellow:hover,
.woocommerce-notices-wrapper .button:hover {
	background-color: $yellow;
	border-color: $yellow;
	color: $black;
}

.btn--hover-outline-white:hover {
	background-color: transparent;
	border-color: $white;
	color: $white;
}

.btn--hover-outline-blue:hover,
input[type="submit"].btn--hover-outline-blue:hover{
	background-color: transparent;
	border-color: $blue;
	color: $blue;
}

.offers__regular-price:after {
	content: '';
	display: block;
	height: 2px;
	background-color: rgba($yellow-rgb, 0.75);
	z-index: 99;
	position: relative;
	transform-origin: (50% 50%);
	transform: rotate(150deg);
	position: relative;
	top: -14px;
	left: 3px;
}




/** =ICONS */
.fa-phone {
	transform: scaleX(-1);
}

.icon-text {
	font-size: 0.875rem;
}

.icon-text i {
	margin-right: 5px;
}

.icon-text a {
	text-decoration: none;
}

.icon-text--white {
	color: $white;
}

.icon-text a {
	color: inherit;
}

.submenu-arrow {
	padding-left: 5px;
	font-size: 13px;
	position: relative;
	top: 2px;
}

.icon--white {
	color: $white;
}

.icon--yellow {
	color: $yellow;
}

.icon--blue {
	color: $blue;
}

.icon--rgap {
	padding-right: 10px;
}

.fa-phone.icon--rgap {
	padding-left: 10px;
	padding-right: 0;
}
/** =HEADER */
.topbar {
	background-color: $blue;
	padding: 10px;
}

.navbar-item {
	border-bottom: 2px solid transparent;
	padding: 0;
	line-height: auto;
	margin: 0.5rem 0.75rem;
	transition: $tran-default;
	font-size: 18px;
}

.menu > .menu-item > a {
	text-shadow: $text-shadow-second;
}

.navbar-item:hover {
	color: $white !important;
	border-bottom: 2px solid $yellow;
}

a.has-text-white:hover, a.has-text-white:focus {
    color: $white !important;
}

.current-menu-item > .navbar-item,
.current_page_parent > .navbar-item {
	border-bottom: 2px solid $yellow;
}

.main-navigation ul ul a {
	width: auto;
}

.main-navigation ul ul {
	width: 220px;
}

.menu-item-has-children > a:after {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: '\f078';
	color: $white;
	font-size: 13px;
	padding-left: 5px;
	position: relative;
	top: 1px;
}

.submenu-open.menu-item-has-children > a:after {
	content: '\f077';
}

.menu-item-has-children .sub-menu {
	background-color: $white;
}

.menu-item-has-children .sub-menu a {
	color: $black !important;
}

.hero-head {
	margin-top: 30px;
}

.navbar-brand__logo {
	width: 200px;
}

.hero-body__heading {
	color: $white;
	text-transform: uppercase;
	font-size: 3rem;
	text-shadow: $text-shadow-default;
}

.hero-body__heading.title--med {
	font-size: 1.7rem;
}

.basket-link {
	position: relative;
}

.basket-link:hover .basket-count {
	opacity: 1;
	transform: translateX(23px);
}

.basket-count {
	background: $yellow;
	color: $black;
	width: 20px;
	height: 20px;
	line-height: 10px;
	font-size: 12px;
	border-radius: 100%;
	padding: 5px; 
	display: inline-block;
	opacity: 0;
	pointer-events: none;
	text-align: center;
	position: absolute;
	left: 0;
	top:1px;
	transition: $tran-default;
}

.navbar-burger span {
	background-color: $yellow;
	height: 2px;
}

.navbar-item {
	color: $white;
}

.navbar-menu.is-active {
	position: absolute;
	width: 100%;
	
	.main-navigation {
		float: none;
		
		li {
			float: none;

			.navbar-item {
				color: $black;
				text-shadow: none;

				&:after {
					color: $black;
				}
			}
			.navbar-item:hover {
				color: $black !important;
				border-bottom: 2px solid #FBC16E;
				background: transparent;
			  }
		}

		.menu-item-has-children > .navbar-item:hover:not(.sub-menu > .navbar-item) {
			border-bottom-color: transparent;
		}
	}
}

.page-contact-us .navbar-burger span, 
.page-faqs .navbar-burger span {
	background-color: $blue;
}


.main-navigation ul ul li {
	float: none;
	display: table;
}

.main-navigation ul ul li .navbar-item {
	margin: 0.4rem 0.75rem;
}

/** =CONTENT */
.section__title {
	margin-bottom: 20px;
}

.card-link .card {
	transition: $tran-default;
}

.card-link:hover .card {
	transform: translateY(-3px);
	box-shadow: 0 4px 6px 2px rgba(0,0,0,0.18),
	0 0px 4px 2px rgba(0,0,0,0.12);
}

.course-category__image > img {
	width: auto;
	margin: 0 auto;
}

.course-category__image {
	margin-bottom: 0;
}
.course-category .card-content {
	padding-top: 0;
	padding-bottom: 10px;
}

.section--blue {
	background-color: $blue;
	background-image: url('/wp-content/uploads/section-texture-blue.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.section--yellow {
	background-color: $yellow;
	background-image: url('/wp-content/uploads/section-texture-yellow.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.section--bg {
	padding: 50px 0;
}

.owl-item > div {
	padding: 0 10px;
}

.owl-carousel .owl-nav button > span {
	font-size: 40px;
	color: white;
	line-height: 30px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
	background: transparent;
}

.owl-theme .owl-nav button:hover > span {
	color: $yellow;
}

.popular-courses .image {
	margin-bottom: 0;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.popular-courses__image img {
	max-width: 150px;
}


.popular-courses .content p {
	font-size: 20px;
	line-height: 1.25;
	min-height: 80px;
	text-align: center;
}

.related-courses .content p {
	font-size: 20px;
	line-height: 1.25;
	min-height: 80px;
	text-align: center;
	margin-bottom:5px;
}

.popular-courses .card-content {
	padding: 1rem;
}

.popular-courses a.btn {
	margin-top: 10px;
}

.related-courses .image {
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.related-courses__image img {
	max-height: 90px;
	width: auto;
	margin-top: 1rem;
}

.related-courses .card-content {
	padding: 1rem;
}

.related-courses {
	padding-bottom: 20px;
}
.related-courses .column {
	padding: 0;
}

.promo__popup {
	opacity: 0;
	position: fixed;
	bottom: -375px;
	right: 20px;
	z-index: 999;
	justify-content: center;
	background-color: $blue;	
	padding: 5px 20px 20px 20px;
	max-width: 400px;
	transition: 0.5s transform ease-in-out;
	
	&.promo__popup--peek {
		transform: translateY(-65px);
		opacity: 1;
	}

	&.promo__popup--open {
		transform: translateY(-375px);
	}
	h3 {
		cursor: pointer;
		font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 0.75rem;
	}
	h3, p {
		color: $white !important;
		text-align: center;
	}
	
	figure {
		margin: 0;
		padding-top: 1rem;
	}

	img {
		margin: 0 auto;
	}

	.title--small {
		font-size: 1.25rem;
	}

	.offers__promo-price {
		font-weight: $semibold;
		position: relative;
		top: -2px;
	}

	.promo__toggle {
		position: absolute;
    right: 15px;
    top: 15px;
    color: white;
    font-size: 1rem;
		line-height: 0;
		cursor: pointer;
	}
}

.testimonial-card {
	background: $white;
	padding: 20px;
}

.testimonial-card__meta-rating-star {
	color: $yellow;
}

.testimonial-card__meta-rating-star.split-star:before {
	display: inline-block;
	position: relative;
	top: 2px;
	overflow: hidden;

}

.testimonial-card__meta-source {
	font-weight: $semibold;
}

.testimonial-card__text {
	max-height: 150px;
	overflow-y: auto;
	margin-bottom: 15px;
	font-size: 0.875rem;
}

.carousel .carousel-navigation .carousel-nav-left, .carousel .carousel-navigation .carousel-nav-right {
	padding: 0.5em 1em;
}

.page {
	margin-bottom: 0;
}

.accreditation-image {
	background: $white;
	padding: 10px;
}

.accreditation-image > img {
	max-height: 80px;
	width: auto !important;
	margin: 0 auto;
}

header.is-small .hero-body__heading {
	font-size: 2rem;
	padding: 50px 0;
}

.text-columns {
	column-count: 2;
}

.text-columns--3 {
	column-count: 3;
}

.employee {
	background-color: $lightgrey;
	padding: 20px;
}

.employee__bio {
	font-size: 14px;
}

.employee__name,
.employee__jobtitle {
	font-weight: $semibold;
}
.employee__name {
	font-size: 18px;
}

.error404 .hero {
	padding-bottom: 20px;
}

.error-404 {
	padding: 60px 0;
	text-align: center;
}

.accordions .accordion .accordion-header {
	background-color: $blue;
}

.accordions .accordion .accordion-header + .accordion-body {
	background-color: $lightgrey;
}

.accordions * {
	border-radius: 0 !important;
}

.accordions .accordion:not(:last-child) {
	margin-bottom: 10px;
}

.how-group__number {
	background-color: $blue;
	padding: 10px 0;
	color: $white;
	font-size: 1.25rem;
	font-weight: $semibold;
}

.how-group__info-number {
	display: none;
}

.how-group__points {
	transition: opacity 0.5s ease-in-out;
}

.how-group__points:not(.is-active) {
	opacity: 0.33;
}

.how-group__info {
	display: none;
	padding: 20px;
	border: 1px solid $lightgrey;
	box-shadow: $box-shadow-default;
}

.how-group__info img {
	max-height: 200px;
	object-fit: cover;
	object-position: center;
}

.how-group__info.is-active {
	display: block;
	animation: slideUp;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: none;
	animation-play-state: running;

}

.how-group__heading {
	margin-bottom: 10px;
}

.media-content {
	overflow: hidden;
}	

.single-product,
#page.no_header,
.error404 {

	.hero .hero-carousel {
		display: none;
	}
	
	.hero.is-medium .hero-body {
		padding-bottom: 2.5rem;
		padding-top: 2.5rem;
	}
	
	.hero.is-small .hero-body {
		padding-bottom: 0rem;
		padding-top: 2.5rem;
	}

	.topbar {
		background: $yellow;
	}

	.icon-text--white {
		color: $black;
	}

	.btn--white {
		background: $blue;
		border-color: $blue;
		color: $white;
	}

	.btn--hover-outline-white:hover {
    background-color: transparent;
    border-color: $black;
    color: $black;
	}

	.hero-body__heading,
	.accreditor__info {
		color: $black;
		text-shadow: none;
	}

	.hero-head {
		margin-top: 0;
		padding: 40px 0;
		background-color: $blue;
	}

}

#page.no_header {
	header.is-small .hero-body__heading {
		padding: 20px 0 ;
	}

	.default-page__container {
		padding: 0 10px;
	}
}


.youtube-wrapper {
	position: relative;
	padding-bottom: 48.45%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.youtube-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.freebies.product-box--course .product-box__image .image img {
	width: 100%;
}

/** =FOOTER */
footer {
	background-color: $black;
	color: $white;
	padding-top: 30px;
}

footer a {
	color: $white;
}

footer a:hover {
	color: $yellow;
}

.footer a:hover {
	color: $yellow;
}
.footer__logo {
	max-width: 200px;
}

.footer-menu__heading {
	font-weight: $semibold;
	font-size:18px;
	margin-bottom: 15px;
}

.footer__about-text {
	margin-top: 15px;
}

.site-info {
	margin-top: 40px;
}

.site-footer .columns > .column {
	padding: 5px;
}

/** =CONTACT FORM */

.free-tut__form {
	max-width: 500px;
	width: 100%;
	margin-bottom: 50px;

	.form__group:nth-last-child(2) {
		margin-bottom: 20px;
		margin-top: 20px;
	}
}

.form__group--signup {

	.form__group:nth-child(2) {
		margin-top:20px;
	}
}

.form__group:nth-child(2) {
	margin-top:46px;
}

.form__group {
	position: relative;
	padding: 0;
	margin-bottom:30px;
}

.page-contact-us form {
	margin-top: -16px;
}

.form-field__label {
	position: absolute;
	margin-left: 6px;
	top: 4px;
	color: #999;
	z-index: 10;
	transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
	transition: transform 150ms ease-out, font-size 150ms ease-out;
	transition: transform 150ms ease-out, font-size 150ms ease-out, -webkit-transform 150ms ease-out;
}

.focused .form-field__label {
	-webkit-transform: translateY(-125%);
	transform: translateY(-125%);
	font-size: .75em;
	margin-left:0;
	color: $blue;
}

.form-field__input {
	position: relative;
	padding: 12px 0px 5px 0;
	width: 100%;
	outline: 0;
	border: 0;
	box-shadow: 0 1px 0 0 #e5e5e5;
	transition: box-shadow 150ms ease-out;
}

.form-field__label--select {
	position: absolute;
	top: 4px;
	z-index: 10;
	transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
	transition: transform 150ms ease-out, font-size 150ms ease-out;
	transition: transform 150ms ease-out, font-size 150ms ease-out, -webkit-transform 150ms ease-out;
	-webkit-transform: translateY(-125%);
	transform: translateY(-125%);
	font-size: .75em;
	margin-left:0;
	color: $blue;
}

.form-field__select {
	border: 1px solid #ccc;
	padding: 5px;
}

textarea.form-field__input {
	border: 1px solid #ccc;
	padding: 3px;
	height: 150px;
}

.form__field--req {
	color: #DB4437;
}

#contact .columns.is-gapless:not(:last-child) {
	margin-bottom: 1rem;
}

.vtct-reg__title {
	font-size: 1.2rem;
}

.vtct-reg__group {
	margin-top: 40px;
}

.vtct-reg--grey {
	background-color: rgba($blue-rgb, 0.20);
	padding: 20px;
}

.vtct-reg--cream {
	background-color: rgba($yellow-rgb, 0.20);
	padding: 20px;
}

.vtct-reg__inline-fields input {
	width:1em;
	margin-right: 0.25em;
}

.vtct-reg__fields {
	display: flex;
	margin-bottom: 1rem;
}

.vtct-reg__label {
	min-width: 250px;
}

.vtct-reg__warning {
	color: red;
}

.vtct-reg__textarea {
	height: 40px;
}

.vtct-reg__button {
	margin-bottom: 40px;
}

.vtct-reg__select {
	border-radius: 3px;
	padding: 3px;
}

/** =WOOCOMMERCE */
.type-product {
	margin: 0 auto;
}

.type-product h3,
.type-page .entry-content h3 {
	color: $blue;
	font-size: 1.3rem;
	font-weight: 400;
	margin-bottom: 0.75rem;
}

.product__course-title {
	color: $white;
	font-size: 1.3rem;
	text-shadow: $text-shadow-default;
	margin-top: 0.5rem;
}

.product-side {
	margin-bottom: 20px;
	padding: 20px;
	background-color: $lightgrey;
}

.product-side__order {
	background-color: $blue;
}

.product-side__order__btn .btn{
	font-size: 1rem;
}

.product-side__order__price {
	color: white;
	font-weight: 600;
	font-size: 1.5rem;
}

.product-side__order--mobile {
	margin: 0;
	position: sticky;
    top: 0;
    z-index: 10;
}

.product-side__order--mobile + .product .entry-summary {
	margin-top: 0;
}

.product-side__title {
	font-size: 1.25rem;
	font-weight: 500;
	margin-bottom: 0.875rem;
}

.product-side__reviews__carousel .testimonial-card {
	box-shadow: $box-shadow-default;
}

.product-side__help__info a {
	color: $black;
}

.product-box {
	box-shadow: $box-shadow-second;
	position: relative;
	align-items: normal;
	margin-bottom: 40px;
	transition: $tran-default;
}

.product-box:hover {
	box-shadow: 0 4px 6px 2px rgba(0,0,0,0.18),
				0 0px 4px 2px rgba(0,0,0,0.12);
	transform: translateY(-3px);
}

.product-box__image {
	width: 25%;
	display: flex;
	flex-direction: column;
}

.product-box__image .image {
	flex: 1;
}

.product-box__image .image img {
	height: 100%;
	object-fit: cover;
}

.product-box--course .product-box__image .image img {
	height: auto;
	width: 90%;
	margin: 0 auto;
}

.product-box--course .product-box__image .image {
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-box__info {
	padding: 20px;
}

h3.product-box__title {
	font-size: 1rem;
	margin-bottom: 0.3rem;
}

.product-box__title a {
	color: $black;
}

h5.product-box__subtitle {
	font-size: 1rem;
	font-weight: 400;
}

.product-box__desc {
	font-size: 0.875rem;
	margin-bottom:15px;
}

.product-box__desc ul {
	margin: 0 0 0 20px;
}

.page-maintaining-best-practice .product-box__desc {
	column-count: 2;
}

.product-box__price,
.offers__regular-price {
	font-size: 1.2rem;
	font-weight: 500;
}

.offers__regular-price {
	position: relative;
	top: 1px;
	color: $darkgrey;
}

.product-box__meta {
	padding: 10px 20px;
	background-color: $black;
	max-height: 40px;
}

.product-box__meta-rating-star {
	color: $yellow;
}

.product-box__meta-qualification {
	color: $white;
}

.product-box__content {
	display: flex;
	flex-direction: column;
}

.product-box__content > div {
	flex: 1;
}

.product-box--manuals .product-box__info,
.product-box--revisiontools .product-box__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.product-section__title {
	font-size: 1.5rem;
	color: $black;
	border-bottom: 2px solid $black;
	font-weight: $semibold;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 20px;
}

.accreditor__logo {
	max-width: 150px;
	background: $white;
	padding: 10px;
	margin: 0 auto;
}

.accreditor__logo img {
	max-height: 70px;
}

.accreditor__info {
	color: $white;
	text-shadow: $text-shadow-default;
	font-weight: $semibold;
	margin-bottom: 0.3rem;
}

.media + .media {
	padding-top: 0;
}

.woocommerce-message, 
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
	background-color: rgba($blue-rgb, 0.25);
	border: 1px solid $blue;
	padding: 10px;
	display: block;
	margin: 20px 0;
}

.woocommerce-notices-wrapper .button {
	margin-right: 10px;
}

.cart_item {
	border-bottom: 1px solid $midgrey;
}

.cart_item .product-thumbnail {
	width: 200px;
	padding: 20px 20px 20px 0;
}

.cart_item .qty {
	max-width: 50px;
}

.cart_item .product-name {
	max-width: 250px;
	padding: 10px 0;
}

.cart_item .product-name > a:first-child {
	font-weight: $semibold;
	font-size: 1.1rem;
	max-width: 250px;
}

.cart_item .remove {
	display: inline-block;
	font-size: 0.8rem;
	color: $darkgrey;
	letter-spacing: 0;
	text-transform: uppercase;
	font-weight: $semibold;
}

.cart_item .remove:hover {
	color: $yellow;
}

.cart_item > td {
	vertical-align: middle;
}

.cart thead {
	text-transform: uppercase;
}

.page-basket .cart thead th:nth-last-child(-n+3),
.page-basket .cart_item td:nth-last-child(-n+3) {
	text-align: right;
}

.actions > .level {
	margin-bottom: 0;
	padding: 30px;
	background-color: $lightgrey;
	margin-top: 2rem;
}

.actions .coupon label {
	text-transform: uppercase;
	font-weight: $semibold;
}

.cart-collaterals table.shop_table_responsive tr td {
	text-align: right;
}

.woocommerce-shipping-methods {
	list-style-type: none;
}

.cart_totals h2 {
	font-weight: $bold;
	text-transform: uppercase;
	font-size: 1.1rem;
}

.cart_totals th {
	font-weight: $semibold;
}

.cart_totals tr {
	border-bottom: 1px solid $midgrey;
}

.cart_totals tr > th,
.cart_totals tr > td {
	padding: 20px 0;
}
.cart_totals tr:last-child {
	border-bottom: 0;
}

.cart_totals .order-total th,
.cart_totals .order-total .amount {
	font-size: 1.2rem;
	color: $blue;
	font-weight: $semibold;
}

.woocommerce-shipping-destination {
	margin-bottom: 0;
}

.woocommerce-shipping-methods {
	margin-bottom: 0;
}

.checkout .woocommerce-shipping-methods input.shipping_method {
	width: auto;
}

.wc-proceed-to-checkout {
	margin-bottom: 40px;
}

.checkout_coupon .form-row {
	display: inline-block;
}

.checkout_coupon .form-row-first {
	margin-right: 20px;
}

.checkout_coupon {
	padding: 20px;
	background-color: rgba($midgrey, 0.25);
    border: 1px solid $midgrey;
}

.checkout .form-row label {
	width: 33%;
	display: inline-block;
}

.checkout .optional { 
	display: none;
}

.checkout input:not([type="checkbox"]), .checkout .select2 {
	max-width: 250px;
	width: 100%;
}

#billing_address_2_field, #shipping_address_2_field {
    margin-left: 33%;
}

.woocommerce-additional-fields {
	margin-top: 20px;
}

.woocommerce-billing-fields__field-wrapper {
	padding-top: 15px;
}

.checkout .shipping_address {
	padding-top: 13px;
}

.wc-item-meta {
	margin-left: 0;

	> li {
		list-style-type: none;

		> * {
			display: inline-block;
		}

	}
	
}

dl.variation > * {
	display: inline-block;
	margin: 0;
}

.woo__order-review {
	background-color: rgba($midgrey, 0.25);
	padding: 20px;
}

.woocommerce-checkout {
	tr th:last-child {
		text-align: right;
	}

	tr td:last-child {
		text-align: right;
	}

	.cart-subtotal > * {
		padding-top: 10px;
	}

	.order-total > *{
		padding-top: 10px;
		font-size: 1.3rem;
		color: $blue;
	}

	.order-total strong {
		color: $blue;
	}

	margin-bottom: 2rem;
}

.wc_payment_methods {
	margin-left: 0;
	margin-top: 2rem;
	margin-bottom: 0;
}

.wc_payment_methods li {
	list-style-type: none;
}

.payment-method__icons {
	width: 120px;
	
}

.payment-method__group {
	margin-bottom: 20px;
}

fieldset.wc-payment-form{
	border: none;
}

.woocommerce-order-overview__payment-method {
	text-transform: capitalize;
}

.woocommerce-table--order-details tbody tr:last-child td {
	padding-bottom: 10px;
}

.woocommerce-table--order-details tfoot tr:last-child > * {
	padding-top: 10px;
}

.woocommerce-table--order-details tfoot tr:last-child {
	color: $blue;
	font-size: 1.3rem;
}
.woocommerce-table--order-details tfoot tr:last-child th {
	color: $blue;
	font-size: 1.3rem;
}

.product-featured__subtitle {
	display: block;
	font-size: 0.875rem;
	margin-top: 10px;
}

.single-product div.product {
	display: initial;
}

table.shop_table_responsive tr td:first-child:before {
	display: none;
}

.woocommerce-additional-fields {
	margin-top: 0;
}

#product-filter .select2-container--default .select2-selection--single {
	border: transparent;
}
#product-filter .select2-container--default .select2-selection--single .select2-selection__rendered {
	border: 2px solid $yellow;
	border-radius: 2.5rem;
	line-height: 35px;
}

#product-filter .select2-container--default .select2-selection--single .select2-selection__placeholder {
	color: $black;
	font-size: 1.2rem;
}

#product-filter .select2-container .select2-selection--single {
	height: 40px;
}

#product-filter .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 35px;
	right: 10px;
	width: 30px;
}

#product-filter .select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: $yellow transparent transparent transparent;
	border-width: 10px 8px 0 8px;
}

#product-filter .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent $yellow transparent;
	border-width: 0px 8px 10px 8px;
}

#product-filter .select2-container--default .select2-selection--single {
	border: none !important;
}

.product__long-list {
	margin-bottom: 30px;
	height: 200px;
	overflow-x: scroll;
}

.product__long-list ul {
	margin-left: 20px;
}

.checkout .woocommerce-terms-and-conditions-wrapper .woocommerce-form__label  {
	width: 100%;
}

.woocommerce-message, .woocommerce-info, .woocommerce-error, .woocommerce-noreviews, p.no-comments li {
	list-style-type: none;
}

.checkout .join_newsletter_check .checkbox {
	width: 100%;
}

/** BLOG */
.blog-post__image {
	min-height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	display: flex;
	align-items: center;
}

.blog-post__content {
	margin: 0 auto;
	padding: 20px;

	.entry-title {
		font-weight: $bold;
		font-size: 1rem;
		letter-spacing: 1px;
		text-align: center;
		text-transform: uppercase;
		color: $blue;
	}

	.entry-meta {
		text-align: center;
		color: $darkgrey;
		font-weight: $bold;
		text-transform: uppercase;
		margin-top: 10px;
		font-size: 13px;
		letter-spacing: 1px;
	}

	.entry-content {

		a {
			color: $blue;
		}
	}
}

.post__image {
	min-height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.post__content {
	max-width: 700px;
	margin: 0 auto;

	.entry-header {
		padding: 20px;
		position: relative;
		top: -150px;
		background-color: rgba($white, 0.90);

	}

	.entry-content {
		position: relative;
		top: -120px;
	}

	.entry-title {
		font-weight: $bold;
		font-size: 22px;
		letter-spacing: 1px;
		text-align: center;
		text-transform: uppercase;
		color: $blue;
	}

	.entry-meta {
		text-align: center;
		color: $black;
		font-weight: $bold;
		text-transform: uppercase;
		margin-top: 10px;
		font-size: 13px;
		letter-spacing: 1px;
	}
}

.type-post {
	margin-top: 30px;
}

.no-course-exists {
	p,
	form {
		display: none;
	}

	.free-download-text p {
		display: block;
	}

}

.page-reflexology #product-filter,
.page-aromatherapy #product-filter {
	display: none;
}

/** =Affiliate */

.affiliate {
	max-width: 920px;
	width: 100%;
	margin-bottom: 40px;
	border-bottom: 2px solid $blue;
	padding-bottom: 20px;
}

.affiliate__contact > p {
	margin-bottom: 0; 
}

.affiliate__logo > img {
	max-height: 100px;
}

.aff-opt__title {
	background-color: $blue;
	padding: 10px;
	position: relative;
	margin-bottom: 1rem;
	cursor: pointer;
	pointer-events: inherit;

	.title:after {
		content: '\f107';
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		color: white;
		position: absolute;
		right: 1rem;
	}
	
	&.active .title:after {
		content: '\f106';
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		color: white;
		position: absolute;
		right: 1rem;
	}

	&.active {
		margin-bottom:0;
	}
}

.aff-opt__content {
	padding: 1rem;
	margin-bottom: 2rem;
	background-color: $lightgrey;
	display: none;

	&.active {
		display:block;
	}
}

/** =UTILITY */
.bg--cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.title--semibold {
	font-weight: $semibold;
}

.title--xsmall {
	font-size: 1.2rem;

	.card-content & {
		font-size: 1.1rem !important;
	}
}

.title--small {
	font-size: 1.5rem;
}

.title--med {
	font-size: 1.75rem;
}

.title--blue {
	color: $blue;
}
.title--white {
	color: $white;
}

.title--normal-case {
	text-transform: initial;
}

.title--inline {
	display: inline;
}

.no-mb {
	margin-bottom: 0 !important;
}

.columns {
	margin: 0;
}
.asp_product_name,
.asp_product_description,
.asp_product_item_amount_currency_label {
	display: none !important;
}

.asp_product_item_amount_input_container:before {
	content: 'Amount (£)';
	margin-right: 10px;
	display: inline-block;
}

.page .asp_product_item {
	margin-bottom: 40px;
}

.justify-sb {
	justify-content: space-between;
}



/** =ANIMATIONS */

@keyframes slideUp {
	0% {
		transform: translateY(40px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}