//Widescreen
@media all and (max-width: 1216px) {

}

//Desktop
@media all and (max-width: 1024px) {

}

//Tablet
@media all and (max-width: 1023px) {
	.hero-body__heading {
		font-size: 2rem;
	}

	.product__course-title {
		font-size: 1.3rem;
	}

	.cart_item .product-name {
		max-width: 190px;
	}

	.basket-count {
		position: relative;
		top:-1px;
		opacity: 1;
	}

	.basket-link:hover .basket-count {
		transform: none;
	}

	.card-content .title--xsmall {
		font-size: 1rem !important;
	}
	
	.main-navigation ul li:hover > ul {
		left: -999em;
	}
	
	.main-navigation ul li.submenu-open:hover > ul {
		left: 0;
	}

	.main-navigation ul li.submenu-open > ul {
		display: block;
		position: relative;
		float: none;
		left: 0;
	}

	.main-navigation ul ul {
		box-shadow: none;
	}
}

//Mobile
@media all and (max-width: 768px) {
	.hero-body__heading {
		font-size: 1.5rem;
	}

	.is-centered-mobile {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.is-justify-center-mobile {
		justify-content: center;
	}

	.is-paddingless-lr-mobile {
		padding-left: 0;
		padding-right: 0;
	}

	.title {
		font-size: 1.5rem;
	}

	.section__title {
		margin-bottom: 0;
	}

	.footer-menu .columns {
		margin-bottom: 0;
	}

	.footer-menu__heading {
		font-size: 20px;
	}

	.footer-menu__course-cats .columns {
		margin-bottom: 0;
	}

	.course-category {
		padding-bottom: 0;
	}

	#contact p {
		text-align: center;
	}

	.vl {
		display: none;
	}

	.content-space--bottom {
		margin-bottom: 30px;
	}

	.content-space--top {
		margin-top: 30px;
	}

	.how-group__info {
		display: block;
		margin-bottom: 50px;
		position: relative;
	}

	.how-group__info-number {
		display: block;
		position: absolute;
		top: -31px;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 100%;
		height: 40px;
		width: 40px;
		background-color: $blue;
		color: white;
		text-align: center;
		line-height: 40px;
		font-weight: $bold;
		font-size:1.5rem;
	}

	.text-columns--2 {
		column-count: 1;
		text-align: center;
	}
	
	.text-columns--3 {
		column-count: 2;
		-webkit-overflow-scrolling: touch;
	}
	
	.bg--cover {
		min-height: 300px;
	}
	
	.employee .bg--cover {
		min-height: 200px;
	}

	.employee__photo {
		height: 300px
	}

	.cart_item .product-name {
		max-width: 100%;
		text-align: right;
	}

	.cart_item .product-name a {
		width: 90%;
		margin-left: auto;
		text-align: right;
	}

	.cart_item .product-name > a:first-child {
		font-size: 1rem;
	}	

	.cart_item .product-thumbnail {
		display: none;
	}

	.cart_item:not(:first-of-type)  {
		padding-top: 20px;
	}

	.cart_item > td:not(:first-of-type) {
		padding-bottom: 10px;
	}

	table.shop_table_responsive tr td::before {
		font-weight: $bold;
	}

	.actions > .level {
		padding: 10px;
	}
	
	.actions .coupon {
		text-align: center;
	}

	.actions .coupon label {
		display: none;
	}
	.actions .coupon input {
		width: 50%
	}

	.media-content {
		overflow: visible;
	}

	.product-box {
		display: flex;
		flex-direction: column;
	}

	.product-box__image .image img {
		max-height: 200px;
	}

	.product-box__image {
		width: 100%;
	}

	.main-navigation ul {
		display: block;
	}

	.single-product .hero-body__heading {
		text-align:center;
	}

	.select2-container {
		width: 100% !important;
	}
	
	.hero-body__heading {
		font-size: 1.2rem;
	}

	.hero-body__heading.title--med {
		font-size: 1.4rem;
	}

	.page-maintaining-best-practice .product-box__desc {
		column-count: 1;
	}

	.product-box--course .product-box__image .image img {
		max-width: 250px;
		padding: 20px 0;
	}
}

//Custom
@media all and (max-width: 421px) {
	#billing_address_2_field, #shipping_address_2_field {
		margin-left: 0;
	}

}
//Super Small
@media all and (max-width: 400px) {
	.column.is-11-smobile {
		width: 95%;
	}


}